#page-container.sidebar-dark #sidebar{
    background-color: #00349a;
}

#page-container.sidebar-dark #sidebar .content-header {
    background-color: #00349a;
}

.logo{
    width: 50px;
    height: 60px;    
}


.content-side{
    background: #00349a;
}

