body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    padding: 0.5in; /* Ajustar margen para impresión */
}
.container {
    width: 100%;
    max-width: 800px;
    padding: 0;
    box-sizing: border-box;
    height: 5.5in; /* Altura de media página carta */
    overflow: hidden;
    margin: 0; /* Reducir espacio alrededor del contenedor */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.header {
    text-align: center;
    margin-bottom: 5px;
}
.header h1 {
    margin: 0;
    color: #333;
    font-size: 14px;
}
.header p {
    margin: 2px 0;
    color: #555;
    font-size: 9px;
}
.header .period {
    margin: 3px 0;
    color: #000;
    font-size: 11px;
    font-weight: bold;
}
.date {
    text-align: right;
    margin-bottom: 3px;
    color: #666;
    font-size: 9px;
}
.personal-info {
    margin-bottom: 5px;
}
.personal-info p {
    margin: 2px 0;
    color: #555;
    font-size: 9px;
}
table {
    width: 100%;
    border-collapse: collapse;
    font-size: 9px;
    margin-bottom: 5px; /* Reducir margen inferior de la tabla */
}
table, th, td {
    border: 1px solid #ddd;
}
th, td {
    padding: 3px;
    text-align: left;
}
.course-name {
    font-weight: bold;
    font-size: 10px;
}
.course-details {
    font-size: 8px;
    color: #666;
}
tfoot td {
    font-weight: bold;
}
.class-start {
    margin-top: 10px;
    font-size: 10px;
    color: #333;
    text-align: center;
}